.jumbotron {
  padding: 50px 0;
  background-color: #e9e9e9;
  color: #383838;
}

.questions {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.code-block {
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5%;
}

.question-part {
  padding-bottom: 15px;
}

.form-check {
  padding-bottom: 20px;
}

.btnWrapper {
  margin: 30px 0 100px 0;
  display: flex;
  justify-content: space-between;
}

.answerToggleTag {
  text-decoration: none;
  color: #a1a1a1;
}

.answerToggleTag:hover {
  color: black;
}

.answers {
  color: #a1a1a1;
  padding-left: 30px;
  padding-top: 20px;
}

.row {
  padding-bottom: 20px;
}
