#backBtn {
  margin: 40px 0 0 40px;
}

.displayHeader {
  margin: 50px 0;
}
.displayOptionContainer {
  margin-bottom: 30px;
}

.displayOptionInput {
  margin-right: 10px;
}

.buttonsContainer {
  margin-bottom: 200px;
}

